@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}
body {
  height: 100%;
  width: 100%;
}
.wrapper {
  margin: 85px auto;
  border: 5px solid rgb(20, 20, 207);
  max-width: 400px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 25px;
}
header {
  font-size: 30px;
  font-weight: 600;
}
.inputField {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}
input {
  width: 85%;
  height: 100%;
  outline: none;
  border: 1px solid #ccc;
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}
.add {
  width: 60px;
  height: 100%;
  border: none;
  outline: none;
  color: #8e49e8;
  font-size: 22px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 5px;
}
.todoList {
  padding: 0;
  height: 43vh;
  overflow: auto;
}
li {
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 0 15px;
}
li .delete {
  position: absolute;
  right: 0px;
  background: red;
  color: white;
  width: 45px;
  text-align: center;
  border: 0 3px 3px 0;
  cursor: pointer;
}
li .tick {
  position: absolute;
  right: 50px;
  background: green;
  color: white;
  width: 45px;
  text-align: center;
  border: 0 3px 3px 0;
  cursor: pointer;
}
li .done {
  position: absolute;
  right: 50px;
  width: 45px;
  text-align: center;
  border: 0 3px 3px 0;
  cursor: pointer;
}
.footer button {
  margin-left: 10px;
  padding: 5px 5px;
  border-radius: 10px;
  background: chartreuse;
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
